$main-text-color: #111111;
$sub-text-color: RGBA(17, 17, 17, 0.5);
$hl-text-color: #4A4FF2;
$main-font: 'Mulish', sans-serif; 
$main-title-size: 40px;
$main-text-size: 16px;

.text--main {
    color: $main-text-color;
    font-family: $main-font;
    font-size: $main-text-size;
    line-height: 26px;
}
.text--fade {
    color: RGBA(17, 17, 17, 0.6);
    font-family: $main-font;
    font-size: $main-text-size;
    line-height: 26px;
}
.text--quote {
    color: $sub-text-color;
    font-family: $main-font;
    font-size: 18px;
    line-height: 26px; 
    font-style: italic;
}
.text--hl {
    color: $hl-text-color;
    font-family: $main-font;
}
.text--top {
    font-weight: 700;
}
.nav__item, .footer__item {
    text-decoration: none;
    font-family: $main-font;
    font-size: 18px;
    font-weight: 700;
}
.page__title {
    font-family: $main-font;
    color: $main-text-color;
    font-size: $main-title-size;
    line-height: 55px;
}
.services__title, .awards__title {
    font-family: $main-font;
    color: $main-text-color;
    font-size: 28px;
    line-height: 38px;
}
.services__item {
    font-family: $main-font;
    color: RGBA(17, 17, 17, 0.6);
    font-size: 18px;
    text-decoration: none;
}
.awards__name {
    font-family: $main-font;
    color: $main-text-color;
    font-size: 18px;
    font-weight: 700;
}
.projects__item--1 {
    font-family: $main-font;
    color: $sub-text-color;
    font-size: 18px;
    font-weight: 700;
}
.projects__item--2 {
    font-family: $main-font;
    color: $main-text-color;
    font-size: 18px;
    font-weight: 700;
}