.main__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 72px;
    .text--top {
        margin-bottom: 32px;
    }
    .quote {
        margin-right: 8%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
}
.services {
    margin-top: 51px;
    margin-bottom: 51px;
}
.awards {
    display: grid;
    grid-template: repeat(2, 1fr)/repeat(12, 1fr);
    &__title
    &__www {
        border-top: 2px solid #D8D8D8;
        border-bottom: 2px solid #D8D8D8;
    }
    &__css {
        border-bottom: 2px solid #D8D8D8;
    }
}
