.home__img {
    display: grid;
    grid-template: repeat(32, 1fr) repeat(3, 1fr);
    row-gap: 20px;
    column-gap: 27px;
        &-1 {
            grid-area: 1/1/8/2;
        }
        &-2 {
            grid-area: 8/1/17/2;
        }
        &-3 {
            grid-area: 17/1/25/2;
        }
        &-4 {
            grid-area: 25/1/33/2;
        }
        &-5 {
            grid-area: 1/2/7/3;
        }
        &-6 {
            grid-area: 7/2/14/3;
        }
        &-7 {
            grid-area: 14/2/24/3;
        }
        &-8 {
            grid-area: 24/2/33/3;
        }
        &-9 {
            grid-area: 1/3/11/4;
        }
        &-10 {
            grid-area: 11/3/18/4;
        }
        &-11 {
            grid-area: 18/3/27/4;
        }
        &-12 {
            grid-area: 27/3/33/4;
        }
}
@import 'main-grid';