.text--main {
  color: #111111;
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  line-height: 26px;
}

.text--fade {
  color: RGBA(17, 17, 17, 0.6);
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  line-height: 26px;
}

.text--quote {
  color: RGBA(17, 17, 17, 0.5);
  font-family: "Mulish", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-style: italic;
}

.text--hl {
  color: #4A4FF2;
  font-family: "Mulish", sans-serif;
}

.text--top {
  font-weight: 700;
}

.nav__item, .footer__item {
  text-decoration: none;
  font-family: "Mulish", sans-serif;
  font-size: 18px;
  font-weight: 700;
}

.page__title {
  font-family: "Mulish", sans-serif;
  color: #111111;
  font-size: 40px;
  line-height: 55px;
}

.services__title, .awards__title {
  font-family: "Mulish", sans-serif;
  color: #111111;
  font-size: 28px;
  line-height: 38px;
}

.services__item {
  font-family: "Mulish", sans-serif;
  color: RGBA(17, 17, 17, 0.6);
  font-size: 18px;
  text-decoration: none;
}

.awards__name {
  font-family: "Mulish", sans-serif;
  color: #111111;
  font-size: 18px;
  font-weight: 700;
}

.projects__item--1 {
  font-family: "Mulish", sans-serif;
  color: RGBA(17, 17, 17, 0.5);
  font-size: 18px;
  font-weight: 700;
}

.projects__item--2 {
  font-family: "Mulish", sans-serif;
  color: #111111;
  font-size: 18px;
  font-weight: 700;
}

.nav {
  display: flex;
  justify-content: space-between;
  margin-top: 61px;
  margin-bottom: 60px;
}
.nav__list {
  display: flex;
  justify-content: flex-end;
}
.nav__item {
  margin-left: 29px;
}
.nav .logo {
  width: 90px;
  height: 19px;
}

.footer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 44px;
  margin-top: 60px;
}
.footer--right {
  display: flex;
  justify-content: end;
}
.footer__item {
  margin-left: 29px;
}
.footer__social-logos {
  display: flex;
}
.footer__social-logos .drbl-logo {
  margin-left: 50px;
}
.footer__social-logos .ig-logo {
  margin-left: 24px;
  margin-right: 23px;
}
.footer .logo {
  width: 90px;
  height: 19px;
}

.main__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 72px;
}
.main__top .text--top {
  margin-bottom: 32px;
}
.main__top .quote {
  margin-right: 8%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.services {
  margin-top: 51px;
  margin-bottom: 51px;
  display: flex;
  justify-content: space-between;
}
.services__title {
  margin-right: 59px;
}
.services__list {
  margin-left: 35px;
  margin-right: 35px;
}
.services__item {
  margin-top: 10px;
  margin-bottom: 10px;
}

.awards__www, .awards__css {
  /*display: flex;
  justify-content: space-evenly;
  align-items: flex-start;*/
  display: grid;
  grid-template: 3fr 3fr/5fr 3fr 3fr 1fr;
  border-bottom: 2px solid #D8D8D8;
  padding-top: 50px;
  padding-bottom: 58px;
}
.awards__www {
  border-top: 2px solid #D8D8D8;
}
.awards__title {
  grid-area: 1/1/2/2;
}
.awards__name--sod {
  grid-area: 1/2/2/3;
}
.awards__name--bn {
  grid-area: 2/2/3/3;
}
.awards__info--sod {
  grid-area: 1/3/2/4;
  margin-bottom: 80px;
}
.awards__info--bn {
  grid-area: 2/3/3/4;
}
.awards__year--sod {
  grid-area: 1/4/2/5;
}
.awards__year--bn {
  grid-area: 2/4/3/5;
}
.awards__info--title {
  margin-bottom: 12px;
}

.projects__main {
  display: flex;
  justify-content: space-between;
  margin-bottom: 61px;
  margin-top: 50px;
}
.projects__main .projects__text {
  width: 58%;
}
.projects__main .projects__info {
  margin-top: 29px;
}

.projects__table {
  width: 33%;
}
.projects__table .projects__row {
  padding-bottom: 19px;
  border-bottom: 1px solid RGBA(17, 17, 17, 0.3);
}
.projects__table .projects__row .projects__item--1 {
  width: 40%;
  padding: 19px 0 19px 0;
}
.projects__table .projects__row .projects__item--2 {
  width: 60%;
  padding: 19px 0 19px 0;
}

.projects__mid {
  margin: 45px 0 45px 0;
}

.projects__gallery {
  display: flex;
  justify-content: space-between;
  margin-bottom: 72px;
}
.projects__gallery .gallery__img {
  max-width: 350px;
  max-height: 400px;
}

.home__img {
  margin-top: 72px;
  margin-bottom: 40px;
  display: grid;
  grid-template: repeat(32, 1fr) repeat(3, 1fr);
  row-gap: 20px;
  column-gap: 27px;
}
.home__img-1 {
  grid-area: 1/1/8/2;
}
.home__img-2 {
  grid-area: 8/1/17/2;
}
.home__img-3 {
  grid-area: 17/1/25/2;
}
.home__img-4 {
  grid-area: 25/1/33/2;
}
.home__img-5 {
  grid-area: 1/2/7/3;
}
.home__img-6 {
  grid-area: 7/2/14/3;
}
.home__img-7 {
  grid-area: 14/2/24/3;
}
.home__img-8 {
  grid-area: 24/2/33/3;
}
.home__img-9 {
  grid-area: 1/3/11/4;
}
.home__img-10 {
  grid-area: 11/3/18/4;
}
.home__img-11 {
  grid-area: 18/3/27/4;
}
.home__img-12 {
  grid-area: 27/3/33/4;
}

body {
  background-color: white;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}

/*# sourceMappingURL=index.css.map */